<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>VK - автосохранение картинок / Dropbox</title>
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <script src="../../javascripts/vendor/dropbox-0.10.2.min.js"></script>
    <script src="../../javascripts/oauth/dropbox.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="../../images/icons/48.png">
        <div class="title">"VK - автосохранение картинок" / Dropbox</div>
      </div>
      <div class="clear"></div>
      <div class="return">
        <h3>Вход в Dropbox успешно завершен</h3>
        <p>Пожалуйста, закройте это окно</p>
      </div>
    </div>
  </body>
</html>