* {
  margin: 0;
  padding: 0;
}

body {
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 11px;
  color: #2B587A;
}

p {
  margin: 10px 0px;
}

button {
  background: #597DA3;
  border: none;
  line-height: 13px;
  padding: 7px 16px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 11px;
  color: #FFFFFF;
  cursor: pointer;
}

a, a:visited, a:active {
  color: #CA2828;
}

input[type="checkbox"] {
  vertical-align: top;
}

.hidden {
  display: none !important;
}

.clear {
  clear: both;
}

.sep {
  height: 20px;
}

#container {
  width: 800px;
  margin: auto;
  margin-top: 5px;
}

#header {
  height: 35px;
}

#header .title {
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
  float: right;
  margin-right: 15px;
}

#header img {
  float: right;
  width: 30px;
}

#menu {
  width: 150px;
  float: left;
}

#menu ul {
  list-style: none;
}

#menu ul li {
  padding: 10px;
  cursor: pointer;
}

#menu ul li.active {
  background-color: #597DA3;
  color: #FFFFFF;
}

#content {
  width: 608px;
  float: left;
  padding: 20px;
  padding-top: 0;
  border: 1px solid #D9E0E7;
}

#loading {
  text-align: center;
  margin-top: 20px;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

#return {
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid #D9E0E7;
}

#messages div {
  margin-top: 10px;
  padding: 5px;
}

#messages div.success {
  border: 1px solid #008000;
  color: #008000;
}